---
import NavBar from "@components/shared/NavBar.astro";
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import { siteInfo } from "src/consts/site-info";


interface Props {
	title?: string;
	image?: string;
	description?: string;
}

const {title = siteInfo.title, image, description = siteInfo.description} = Astro.props;
---


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- SEO -->
	<meta name="description" content={description}>
	<meta name="author" content="Gonzalo La Ferrera">

	<!-- Og Metatags -->
	 <meta property="og:title" content={title}>
	 <meta property="og:description" content={description}>
	 <meta property="og:image" content={image}>

	<ClientRouter />
	<title>{title}</title>
</head>
<body class="bg-slate-800 text-slate-100">
	<NavBar />
	<main class="mt-10 m-auto max-w-3xl mx-4">
		<slot />
	</main>
</body>
</html>